@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Dirt&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


/* criação das variáveis para a aplicação */

:root{
    --corBgHeader : #1e1f22;
    --corTexto: #ffffff;
    --corTitulosBtn : #ffae00; 
    --corBgCards : rgba(37, 37, 37, 0.8);
    --arredondamento: 5px;
    --zoomImagem: 500px;
    --fonte: 'Roboto', sans-serif;  
    /* 4 variaveis de cor */

}


body{
    background-image: url(imagens/bg.png); 
    /* background-repeat: no-repeat;
    background-size: cover; */
    color: var(--corTexto);
    font-family: var(--fonte);
}



header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--corBgHeader);
    padding: 25px;

}


ul{
    display: flex;
    justify-content: space-around;

}

nav ul li {
    margin: 10px;
    padding: 10px 10px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--corTexto);
}

/* para os links (a)aplicar um hover que irá mostrar um background amarelo, arredondamento de bordas de 10px (padrão da aplicação) e um padding de 10px */

li:hover{
    background-color: var(--corTitulosBtn);
    border-radius: var(--arredondamento);
    padding: 10px;
}

/* hover btn : borda branca, letra negrita e cor branca  */

.btn{
    background-color: var(--corTitulosBtn);
    color: var(--corTexto);
}

.btn:hover{
    border:2px solid var(--corTexto);
    font-weight: bold;
    color: var(--corTexto);
}

.logo{
    width: 250px;
    z-index: 3;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h1, h2, h3 {
    margin: 20px;
    text-align: center;
}



h2 {
    color:var(--corTitulosBtn);
    text-align: center;
}

.boxProduto{
    display: flex;
    background-color:var(--corBgCards);
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    max-width: 890px;
    border-radius: 10px;
   
}

.boxTexto{
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify ;

    /* text-align: center; */

}



img{
    width: 300px;
}

/* img:hover{
    width: var(--zoomImagem);
} */

.btn{
    width: 150px;
    background-color:var(--corTitulosBtn);
    margin: 10px 0px;
    padding: 10px;
    border: none;
    border-radius: var(--arredondamento);
}


